
.container{
    width:90%;
    height: 620px;
    border: solid #000;
    border-width: 3px 3px;
    position: relative;
}
p{
    border: solid #000;
    border-width: 0 0 3px 0;
    padding-left: 2%;
    padding-bottom: 2%;
}
div {
    margin: 1.5%;  
}
.pink-box{
    border: 1px solid #000;
    width: 12%;
    height: 17%;
    background-color: pink;
    display: inline-block;
}
.blue-box{
    border: 1px solid #000;
    width: 72%;
    height: 17%;
    background-color: cadetblue;
    display: inline-block;
}
.orange-box{
    border: 1px solid #000;
    width: 96%;
    height: 17%;
    background-color: rgb(223, 171, 61);
    position:absolute;
    top: 78%;
}

